# Byte-compiled / optimized / DLL files
*.py[codz]
*$py.class

# UV
uv.lock

# Python caches
__pypackages__/
__pycache__/

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# IDE
.vscode/
.idea/

# Ruff stuff:
.ruff_cache/

# Local junk
.DS_Store
._*
~$*

# Local sample inputs
sample_data/

# Manuscript
Manuscript/Analyses/
Manuscript/Exploration/
Manuscript/Results/
Manuscript/sample_data/
Manuscript/AdVentSeq.pptx
Manuscript/Rplots.pdf
!Manuscript/Scripts/

# Tests
tests/
test*
.Rproj.user

# Large
Resources/
