# Byte-compiled / optimized / DLL files
*.py[codz]
*$py.class

# UV
uv.lock

# Python caches
__pypackages__/
__pycache__/

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# IDE
.vscode/
.idea/

# Ruff stuff:
.ruff_cache/

# Local junk
.DS_Store
._*
~$*
*.tmp
*.temp

# Local sample inputs
sample_data/
example*

# Manuscript (kept on dedicated Manuscript branch; ignored on main)
Manuscript/

# Tests
tests/*
test*
.Rproj.user

# Large
Resources/

# created sripts
install_conda_envs.sh